html, body{
  margin: 0;
}
body{
  font-size: 16px;
  font-family: 'Indie Flower';
  background-color: #2a3d44;
}
.head{
  background-color: #607d8b;
  font-size: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-box-shadow: -3px -0 5px 6px #607d8b;
  -moz-box-shadow:    -3px -0 5px 6px #607d8b;
  box-shadow:         -3px -0 5px 6px #607d8b;
}
.menu{
  text-decoration: none;
  position: fixed;
  font-size: 0;
}
.menu__list{
  list-style: none;
  display: block;
  padding: 15px 15px 10px 15px;
  margin: 5px auto;
}
.menu__item{
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  border-bottom: none;
}
.menu__link{
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 0;
}
.menu__link:hover{
  border-bottom: medium solid #2a3d44;
}
.content {
  margin-top: 20px 0 -50px;
  width: 90%;
  padding-bottom: 50px;
}
.banner{
  text-align: left;
}
.banner__images{
}
.banner__figure{
}
.banner__image{
  width: 450px;
}
.main{
  margin: 0 auto;
  width: 90%;
}
.content__information{
    width: 90%;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
}
.content__images{
  width: 90%;
}
.content_figure{
}
.content__image{
  width: 90%;
}
.content__images-exp{
  width: 50%;
  display: inline-block;
  margin: 10px 0;
}
.content__images-exp:hover{
  opacity: 0.5;
  cursor:pointer;
}
.main_image{
  width: 100%;
}
.content__description{
  width: 80%;
}
.content__description-exp{
  height: 20%;
}
.content__description-exp:hover{
  opacity: 1;
}
.content__description--skills{
  min-width: 500px;
}
.content__text{
  color: #ffffff;
  font-weight: lighter;
  margin: 5px auto;
  font-size: 30px;
}
.content__text--horizontal{
  display: inline-block;
  font-size: 20px;
  text-align: center;
  width: 20%;
}
.content__figure--horizontal{
  margin: 0;
  padding: 0;
}
.fill__image{
  width: 90%;
  margin: 0 auto;
}
.exp_image{
  width: 100%;
}
.content__paragraph{
  margin: 10px auto;
  color: #ffffff;
  font-weight: lighter;
  text-align: center;
  font-size: 24px;
}
.foot{
  background-color: #607d8b;
  font-size: 0;
  width: 100%;
  padding: 10px 0;
  height: 50px;
  -webkit-box-shadow: 0 3px 5px 6px #607d8b;
  -moz-box-shadow:    0 3px 5px 6px #607d8b;
  box-shadow:         0 3px 5px 6px #607d8b;
}
.social-media{
  display: block;
  width: 100%;
  margin: 0 auto;
}
.social-media__icon{
  display: inline-block;
  width:49%;
  margin: 0 auto;
}
.icon__figure{
  display: block;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
.icon__image{
    display: block;
    margin: 0 auto;
}
.icon__home{
  width: 20px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}
.modal-content {
    background-color:#CFD8DC ;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-image{
  width: 70%;
}
.modal-text{
  color: #727272;
  font-weight: bold;
}
@media only screen and (min-width: 768px){
    .menu
    {
        position: static;
        display: inline-block;
    }
    .social-media{
        width: 50%;
    }

}
